.prensaContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10%;
}
.prensaVideos {
    width: 95vw;
    padding: 15% 0 10% 0;
}

h3 {
    text-align: center;
}
.prensaText {
    text-align: left;
}
@media (min-width:1280px) {
    
    .prensaVideos {
        width: 65vw;
        padding: 6% 0 0 0;
    }
}